<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Info</title>
  <link rel="stylesheet" href="info.css">
</head>
<body>
  <div class="container">
    <h2>User Info: This page is displaying your first, last name that are registered in Google server! Also, the state is your unique session id generated every time you log in to this website</h2>
    <ul class="list">
      <li id="first"></li>
      <li id="last"></li>
      <li id="id_token"></li>
    </ul>
  </div>
  <script
    type="module"
    src="info.js"
  ></script>
</body>
</html>